{% extends 'input.html' %}
{% block text %}

    <div class="container">
            <div id="login-row" class="row">
                <div id="login-column" class="col-md-10">
                    <h3 class="text-left text-info">Текст</h3>
                    <h5>{{ header }}</h5>
                    {% for el in text %}
                        <p>{{ el }}</p>
                    {% endfor %}
                    <h3 class="text-left text-info">Результат сентимент-анализа</h3>
                    <p>Полученная тональность: {{ sentiment }}</p>
                </div>

            </div>
    </div>

{% endblock %}