{% extends 'base.html' %}

{% block input %}
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            {% csrf_token %}
                            <h3 class="text-center text-info">Введите адрес сайта</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Адрес:</label><br>
                                {{ form.search_query }}
                            </div>
                            <button type="submit" class="btn" style="background-color: #00A0E5; color: white; ;">Ввод</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block text %}
    {% endblock %}
{% endblock %}